*{
    margin: 0;
}

.Nav{
    float: left;
    width: 100%;
    background: #000;
}
.Nav li{
    float: left;
    width: 25%;
    text-align: center;
}
.Nav a{
    display: block;
    width: 100%;
    padding: 5px 0;
    color: #ffff;
    font-weight: bold;
}

.Content{
    float: left;
    width: 100%;
    padding: 15px;
    background: black;
    color: white;
}

.Resultado{
    float:left;
    width: 70%;
    height: 100px;
    margin: 20px 15%;
    background: green;
}

.Formulario{
    float: left;
    width: 70%;
    height: 300px;
    margin: 20px 15%;
    background: pink;
}

.FormularioInput{
    float: left;
    width: 50%;
    height: 300px;
    margin: 20px 15%;
    background: pink;
    padding: 5%;
}

.FormularioInput100{
    width: 100 !important;
}

.FormularioInput input [type='text']{
    width: 100%;
    height: 45px;

}

.FormularioInput input [type='submit']{
    display: inline-block;
    padding: 10px 30px;
    background: black;
    color: white;
    margin: 15px 0;
    border:0;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;

}

.Center{
    text-align: center;
}